@import url('normalize.css');

body { background: #eee url('../images/square.png'); color: #333; font: 12px/16px Helvetica, 'Lucida Grande', Arial, sans-serif; }

h1, h2, h3 { margin: 0 0 16px 0; font-weight: bold; height: auto; }
h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }

p { margin: 0; padding: 0; }

.alert, .notice { color: #c00; font-weight: bold; }
.notice { color: #585; }

.button {
  border:1px solid #bbb;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -khtml-border-radius:3px;
  background: -moz-linear-gradient(100% 100% 90deg, #d5d5d5, #f4f4f4);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#d5d5d5));
  background: -webkit-linear-gradient(#f4f4f4, #d5d5d5);
  background: -o-linear-gradient(#f4f4f4, #d5d5d5);
  color:#232d3d;
  font-size:12px;
  font-weight:bold;
  padding:4px 10px;
  margin:15px 0px 10px 10px;
  text-shadow:0px 1px 0px #fff;
  cursor:pointer;
  box-shadow:0px 1px 2px #ccc;
  -moz-box-shadow:0px 1px 2px #ccc;
  -webkit-box-shadow:0px 1px 2px #ccc;
}

.button:active, .button:hover {
  color: #008ce5;
}

.button:active {
  box-shadow:inset 0px 1px 2px #ccc;
  -moz-box-shadow:inset 0px 1px 2px #ccc;
  -webkit-box-shadow:inset 0px 1px 2px #ccc;
}

#sign-in { background-color: #fff; margin: 50px auto 16px; padding: 12px; width: 250px; text-align: center; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.35); -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.35); box-shadow: 0px 1px 5px rgba(0,0,0,0.35); }
#user_email, #user_password { font-size: 14px; padding: 3px; margin: 8px 0; width: 200px; }
#remember { margin: 0; }
#devise-links { margin: 8px 0 0 0; text-align: left; border-top: 1px dashed #ddd; padding-top: 8px; }
#devise-links a { color: #008ce5; }
