/* ==== RESET ================================= */
@import url('reset.css');

body { background: #eee url('../images/body-bg.gif'); color: #333; font: 12px/16px 'Lucida Grande', Arial, sans-serif; }

h1, h2, h3 { margin: 0 0 16px 0; font-weight: bold; height: auto; }
h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }
strong { font-weight: bold; }

.alert, .notice { color: #c00; font-weight: bold; }
.notice { color: #585; }

#sign-in { background-color: #fff; margin: 50px auto 16px; padding: 12px; width: 250px; text-align: center; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.25); -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.25); box-shadow: 0px 1px 5px rgba(0,0,0,0.25); }
#user_email, #user_password { font-size: 14px; padding: 3px; margin: 8px 0; }
#remember { margin: 0 0 16px 0; }
#devise-links { margin: 8px 0 0 0; text-align: left; border-top: 1px solid #eee; padding-top: 8px; }
